<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://avatars.githubusercontent.com/u/42990958?s=460&u=69ba6f2e25164d34d5c176ab8b0547b2f9d85787&v=4">
    </div>
    
    {{>footer}}
</body>

</html>